@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "layout/grid";
@import "layout/header";

@import "pages/home";


/*HEADER*/

/*on calcule la hauteur par rapport au viewport*/
.header {
  height:95vh;
  background-image: linear-gradient(
     to right bottom,
     rgba($color-primary-light, 0.8),
     rgba($color-primary-dark,0.8)),
  url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0,100% 0,100% 75vh, 0 100%);
  position: relative;
  &__logobox {
    position: absolute;
    top:40px;
    left:40px;
  }
  &__logo {
    height: 35px;
    width: 45px;
    animation: rotateClock 2s ease-out ;
    }

  &__text-box {
      position:absolute;
      top:40%;
      left:50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

}


/*ANIMLOGO*/


.heading-primary {
  color:#fff;
  text-transform: uppercase;
  line-height: 2em;
  backface-visibility :hidden;
  margin-bottom: 60px;
}

.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name:moveInLeft;
  animation-duration :2s;
}
/*on met l'animation où l'on veut qu'elle joue
comme font on peut écrire sur un ligne
*/

.heading-primary--sub {
  display :block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 18px;
  animation: moveInRight 2s ease-out;
/*  animation-duration :2s;
  animation-timing-function:ease-out;*/
}




/*DESIGN BUTTON */

.btn {

&:link,
&:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline;
    border-radius: 100px;
    transition: all .2s;
    position:relative;
  }
  
&:hover {
    transform:translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black,.2);
    &::after{
      transform: scaleX(1.5) scaleY(1.6);
      opacity:0;
    }
  }
  

&:active {
    transform:translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black,.2)
  }
  
&--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color:$color-white;
    }   
  }
  
&::after{
    content:" ";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all .4s;
  }

    &--animated {
      animation: moveInBottom .5s ease-out  .75s;
      animation-fill-mode: backwards;
    }
  
}









/*SPECIAL EFFECT
on ajoute un élément dans le css pour un effet
on le met en arrière pour pas gèner la lecture

*/
