<<<<<<< HEAD


$color-primary: #55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;




* ,
*::after,
*::before
{
  margin: 0;
  padding: 10px;
    background: red;
  box-sizing : inherit;
}

html {
  font-size:62.5%;
}



body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
/*  font-size: 1em;
*/  line-height: 1.7em;
  color:$color-primary-dark;
  padding:30px;
  box-sizing : border-box;

}
=======
@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "layout/grid";
@import "layout/header";

@import "pages/home";
>>>>>>> ef21aa4e1092aa364096f9cb7948a8ae84546547


/*HEADER*/

/*on calcule la hauteur par rapport au viewport*/
.header {
  height:95vh;
  background-image: linear-gradient(
     to right bottom,
<<<<<<< HEAD
     rgba(126, 213, 111, 0.8),
     rgba(40,180,133,0.8)),
=======
     rgba($color-primary-light, 0.8),
     rgba($color-primary-dark,0.8)),
>>>>>>> ef21aa4e1092aa364096f9cb7948a8ae84546547
  url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0,100% 0,100% 75vh, 0 100%);
  position: relative;
<<<<<<< HEAD
}

.header__logobox {
 position: absolute;
 top:40px;
 left:40px;
}

.header__logo {
height: 35px;
width: 45px;
animation: rotateClock 2s ease-out ;
}

/*ANIMLOGO*/

.header__logo:hover {
}

.heading-primary {
  color: #FFF;
=======
  &__logobox {
    position: absolute;
    top:40px;
    left:40px;
  }
  &__logo {
    height: 35px;
    width: 45px;
    animation: rotateClock 2s ease-out ;
    }

  &__text-box {
      position:absolute;
      top:40%;
      left:50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

}


/*ANIMLOGO*/


.heading-primary {
  color:#fff;
>>>>>>> ef21aa4e1092aa364096f9cb7948a8ae84546547
  text-transform: uppercase;
  line-height: 2em;
  backface-visibility :hidden;
  margin-bottom: 60px;
}

.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name:moveInLeft;
  animation-duration :2s;
}
/*on met l'animation où l'on veut qu'elle joue
comme font on peut écrire sur un ligne
*/

.heading-primary--sub {
  display :block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 18px;
  animation: moveInRight 2s ease-out;
/*  animation-duration :2s;
  animation-timing-function:ease-out;*/
}

<<<<<<< HEAD
.header__text-box {
  position:absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*ANIMATIONS*/

@keyframes moveInLeft {

      0% {
      opacity: 0;
      transform: translateX(-100px);
      }


      80% {
        transform : translateX(10px);
      }

      100% {
      opacity:1;
      transform: translate(0);
      }

}



@keyframes moveInRight {

      0% {
      opacity: 0;
      transform: translateX(100px);
      }

      80% {
        transform : translateX(-10px);
      }

      100% {
      opacity:1;
      transform: translate(0);
      }
}


@keyframes moveInBottom {

      0% {
      opacity: 0;
      transform: translateY(30px);
      }

      100% {
      opacity:1;
      transform: translate(0);
      }
}


@keyframes rotateClock {
  0%{
    transform: rotate(0deg);

    }
  100%{
  transform:rotate(360deg);
  }

}




/*DESIGN BUTTON */

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline;
  border-radius: 100px;
  transition: all .2s;
  position:relative;
}

.btn:hover {
  transform:translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2)
}

.btn:active {
  transform:translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2)
}

.btn--white {
  background-color: #fff;
  color: #777;
}
=======



/*DESIGN BUTTON */

.btn {

&:link,
&:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline;
    border-radius: 100px;
    transition: all .2s;
    position:relative;
  }
  
&:hover {
    transform:translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black,.2);
    &::after{
      transform: scaleX(1.5) scaleY(1.6);
      opacity:0;
    }
  }
  

&:active {
    transform:translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black,.2)
  }
  
&--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color:$color-white;
    }   
  }
  
&::after{
    content:" ";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all .4s;
  }

    &--animated {
      animation: moveInBottom .5s ease-out  .75s;
      animation-fill-mode: backwards;
    }
  
}




>>>>>>> ef21aa4e1092aa364096f9cb7948a8ae84546547





/*SPECIAL EFFECT
on ajoute un élément dans le css pour un effet
on le met en arrière pour pas gèner la lecture

*/
<<<<<<< HEAD

.btn::after{
  content:" ";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  transition: all .4s;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover::after{
  transform: scaleX(1.5) scaleY(1.6);
  opacity:0;
}

.btn--animated {
  animation: moveInBottom .5s ease-out  .75s;
  animation-fill-mode: backwards;
}





=======
>>>>>>> ef21aa4e1092aa364096f9cb7948a8ae84546547
