$color-background: #f6f7f6;
$this: &;

body {
  background-color: $color-background;
  margin: 0 auto;
  max-width:100%;
}

img {
  a {
    border: none;
  }
}

.header {
  display:block;
  position:relative;
  width:100%;
  height:150px;
  margin:0px auto;

  #logo {
      background:url(images/logo.png) no-repeat;width:125px; height:98px;
      display:block;
      position:absolute;
      top:42px;
      left:10px;
      padding:20px;
      z-index:10;
  }
 #navmain {
   float:left;
   height:90px;
   width: 670px / 960px * 100%;
   margin-left:150px;
   margin-top:50px

 }
}
