@charset "UTF-8";
/* CSS Document */

body{
font:76% "Times New Roman",Verdana,sans-serif; 
}

h1{
	font:200% "Times New Roman",Verdana,sans-serif;
	font-weight:bold}
h4{
	font-family:Verdana, Geneva, sans-serif	
}
	
h2.tagline{
	font:150% "Times New Roman",Verdana,sans-serif;
	font-weight:bold;
	color:#999;
	}
	
	

#sidebar_tweeter h3{
font-weight:bold;
font:14px "Verdana", Geneva, sans-serif;
text-transform:uppercase;
margin-bottom:5px;

	}
	
#sidebar_tweeter h4 a{
color:#000;
text-transform:uppercase;
font-weight:bold;

}
	
	

a.navigation-spec{
	color:#999;
	}

a.navigation-lien{
font-weight:bold;

}

p {
	
font:100% Verdana;
	
	
	
	
}