.heading-secondary {
    font-size:2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family:  "Lato", sans-serif;
    display: inline-block;
    letter-spacing: .2rem;
    margin-bottom: 2rem;
    transition: all .2s;
    color: $color-primary;

}

.heading-tertiary {
    font-size: $default-font-size;
    margin-bottom: 1rem;
    color:$color-grey-dark;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph {
    font-size: $default-font-size;
    color:$color-grey-dark;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

